.ocean {
    padding: 1%;
    color: rgba(255, 255, 255, 0.816);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, #182848, #2980b9);
    overflow-x: hidden;
    .link {
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .link::before,
    .link::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
    }
    .link::before {
        background-color: #54b3d6;
        height: 2px;
        bottom: 0;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .link::after {
        content: attr(data-replace);
        height: 100%;
        top: 0;
        transform-origin: 100% 50%;
        transform: translate3d(200%, 0, 0);
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        color: #54b3d6;
    }

    .link:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
    }
    .link:hover::after {
        transform: translate3d(0, 0, 0);
    }

    .link span {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }

    .link:hover span {
        transform: translate3d(-200%, 0, 0);
    }

    /* Presentational Styles */
    body {
        display: grid;
        font-family: "Poppins", sans-serif;
        font-size: 27px;
        line-height: 1.5;
        height: 100vh;
        place-items: center;
    }

    a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        vertical-align: top;
    }
    @media screen and (max-width: 767px) {
        padding: 10% 1%;
    }
    .profile-image {
        width: 100%;

        overflow: hidden;
        margin-bottom: 16px;

        img {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            object-fit: cover;
        }
    }
    & h1 {
        margin-top: 0;
    }
    header {
        text-align: center;

        h1 {
            font-size: 36px;
            margin-bottom: 16px;
        }

        h2 {
            font-size: 24px;
        }
    }

    section {
        margin-bottom: 32px;

        h3 {
            font-size: 20px;
            margin-bottom: 12px;
        }

        p {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 767px) {
        header {
            h1 {
                font-size: 24px;
                margin-bottom: 8px;
            }

            h2 {
                font-size: 18px;
            }
        }

        section {
            margin-bottom: 24px;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 0;
            }

            p {
                font-size: 100%;
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        header {
            h1 {
                font-size: 36px;
                margin-bottom: 16px;
            }

            h2 {
                font-size: 24px;
            }
        }

        section {
            margin-bottom: 32px;

            h3 {
                font-size: 20px;
                margin-bottom: 12px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

.bubble {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -30px;
    opacity: 0.2;
    animation: bubble 15s ease-in-out infinite, sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(0%);
        opacity: 0.06;
    }
    100% {
        transform: translateY(-120vh);
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 200px;
    }
}

.bubble--1 {
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.2;
}

.bubble--2 {
    width: 15px;
    height: 15px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.1;
}

.bubble--3 {
    width: 10px;
    height: 10px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
}

.bubble--4 {
    width: 25px;
    height: 25px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.2;
}

.bubble--5 {
    width: 30px;
    height: 30px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
}

.bubble--6 {
    width: 10px;
    height: 10px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
}

.bubble--7 {
    width: 15px;
    height: 15px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.3;
}

.bubble--9 {
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.2;
}

.bubble--10 {
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.3;
}

.bubble--11 {
    width: 30px;
    height: 30px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.3;
}

.bubble--11 {
    width: 25px;
    height: 25px;
    left: 90%;
    bottom: 30px;
    animation-delay: -10.5s;
    animation-duration: 19s;
    opacity: 0.3;
}
.ocean {
    section {
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        ul {
            list-style: none;
        }
        p {
            line-height: 1.5rem;
        }
    }
}

.fold {
    cursor: default;
    ul {
        opacity: 0;
        transition: all 1s ease-in-out;
        height: 0;
    }
    h3 {
        opacity: 1;
        &:hover {
            + ul {
                opacity: 1;
                height: auto;
            }
        }
    }
}
.fold h3:hover {
    + ul {
        opacity: 1;
        height: auto;
    }
}
.main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20%;

    @media screen and (max-width: 767px) {
        padding: 0 5%;
    }
}
.fullWidth {
    width: 100%;
}
.halfWidth {
    width: 50%;

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    ul {
        padding: 0;
    }
}
